body {
  background: #f9f9f9;
}

.custom-margin {
  width: calc(100% / 3);
}

.card {
  margin-bottom: 1rem;
}

.custom-notification {
  background-color: #333537;
  color: #E8E9E9;
}


@media only screen and (max-width: 1000px) {
  .custom-margin {
    width: 100%;
  }
}