
body {
  background: #E8F6EF;
  margin: 0;
  padding: 0;
  height: 100%;
}

.custom-margin {
  width: calc(100% / 3);
}

.card {
  margin-bottom: 1rem;
}
.city_label {
  font-weight: 700;
  font-size: 2rem;
}
.weather_alert {
  color: #DB3E00;
}

.push-right {
  margin-right: 1rem;
}

.custom-notification {
  background-color: #4C4C6D;
  color: #E8F6EF; 
}

i {
  font-size: 3rem;
  color: #B8DFD8;
}

.has_error {
  color: #f55c47;
}

@media only screen and (max-width: 1000px) {
  .custom-margin {
    width: 100%;
  }
}