<!DOCTYPE html>

<html>
    <head>

    </head>
    <html>
        <h1>Hello, {{name}}</h1>
        {% if session.name %}
            <h1>Hi, {{ session.name }}</h1>
        {% endif %}
        <form action="/" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="submit">
        </form>
        <h2>Today's forecast: {{ weather.daily[0].weather[0].main }} - {{ weather.daily[0].weather[0].description }}</h2>
        <h2>Today's high: {{ weather.daily[0].temp.max | round | int }}&#176;</h2>
        <h2>Today's low: {{ weather.daily[0].temp.min | round | int }}&#176;</h2>
    </html>

</html>